<div class="row text-lg-center text-md-center" style="margin-top: 20px;">
    <div class="col-lg-12" >
    <img src="../assets/EL_IDRISSI_Nabil.png" style="float: left;"/>
    <h5 class="color-text about-me-text">About me</h5>
    <div class="description-me">
        <p>Versatile Full Stack Developer with experience in web development, back-end development, and mobile development.<br> Proficient in Java/hybris/JEE/Spring, and Angular. Passionate about writing clean and maintainable code, and enthusiastically works in a team collaboration environment.</p>
    </div>
    <div class="info-about-me" style="float: left;">
        <ul>
            <li><span class="first-element">Name:</span>  <span class="second-element">Nabil El Idrissi</span></li>
            <li><span class="first-element">Date of birth: </span><span class="second-element">20/12/1998</span></li>
            <li><span class="first-element">Address:</span> <span class="second-element">Casablanca,settat Morroco</span></li>
            <li><span class="first-element">Email:</span><span class="second-element">{{email}}</span> </li>
            <li><span class="first-element">Phone:</span> <span class="second-element">+212601285488</span></li>
        </ul>
        <a class="btn btn-warning donwload-cv" href="#">Download CV</a>
    </div>
     </div>
    
</div>
