<div class="row">
      <div class="col-lg-6">
         <h5 class="about-me-hi">hello!</h5>
         <div> <span class="about-me-hi">I'm </span> <span class="about-me-title">Nabil El Idrissi</span></div>
         <h2 class="about-me-title"> Full stack Java Devloper</h2>
         <div class="block-buttons-about">
            <a class="btn btn-warning" href="#">Hire me</a>
            <a class="btn btn-warning" href="#">My works</a>
         </div>
      </div>
      <div class="col-lg-6">
       <img src="../assets/EL_IDRISSI_Nabil.png"/>
      </div>>
</div>
