<div class="container">
  <div class="row">
    <span class="title-work">Work experience</span>
   <div class="col-lg-6">
    <div class="experience-div">
        <span class="date_experience">1/10/2022-now</span>
      <span class="post_experience">Full Stack devloper java-Spring-SAP HYBRIS/Angular</span>
      <span class="entrprise">Inetum</span>
        </div>
   </div>
   <div class="col-lg-6">
    <div class="experience-div">
        <span class="date_experience">01/02/2022-01/09/2022</span>
      <span class="post_experience">Full Stack java devloper</span>
      <span class="entrprise">Ailyan Douai ,France</span>
        </div>
   </div>
  </div>
</div>
