.experience-div{
    width: 100%;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 5px;
    display: inline-grid;
    height: 200px;
}
.date_experience{
    font-weight: 900;
    font-size: 26px;
    color: #ffbd39;
}
.post_experience{
    font-size: 26px;
    color: white;
    font-family: "Poppins", Arial, sans-serif;
}
.entrprise{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    color: #999999;
}
.title-work{
    margin-top: 91px;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: fantasy;
}