<div class="container">
<div class="row">
    <span class="title-portfolio">Services</span>
    <div class="col-md-4">
      <div class="container-service">
        <div class="icone-service">
        <img src="../assets/developpement-web.png"/>
           </div>
            <span class="name-service">Web Development</span>
      </div>
    </div>
    <div class="col-md-4 ">
        <div class="container-service">
            <div class="icone-service">
            <img src="../assets/developpement-dapplications.png"/>
        </div>
        <span class="name-service">Mobile App Development</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container-service">
            <div class="icone-service">
            <img src="../assets/devops.png"/>
        </div> 
        <span class="name-service">Dev Ops</span>
        </div>
    </div>
</div>
</div>
