<div class="container">
 <div class="row">
    <span class="title-portfolio">Education</span>
  <div class="col-lg-6 col-sm-6 col-md-6">
    <div class="formation-div">
      <span class="date_formation"> 2017</span>
      <span class="degree_formation">Baccalaureate / Physical Sciences Option</span>
      <span class="school_formation"> Imam El Ghazali High School</span>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6 col-md-6">
    <div class="formation-div">
        <span class="date_formation"> 2017-2022</span>
        <span class="degree_formation">State Engineer in Information and Communication Systems Engineering</span>
        <span class="school_formation">  National School of Applied Sciences El Jadida</span>
      </div>
  </div>
 </div>
</div>
