.formation-div{
    width: 100%;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 5px;
    display: inline-grid;
    height: 242px
}
.date_formation{
    font-weight: 900;
    font-size: 26px;
    color: #ffbd39;
}
.degree_formation{
    font-size: 26px;
    color: white;
    font-family: "Poppins", Arial, sans-serif;
}
.school_formation{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    color: #999999;
}