<div class="container">
    <div class="row">
        <span class="title-portfolio">My Skils</span>
        <div class="col-md-6">
         <div>
            <img style="width: 580px;height: 300px;" src="../assets/full-stack.jpg"/>
         </div>
        </div>
        <div class="col-md-6">
           <div class="my-all-skills">
             <span class="skils-design btn btn-warning">Java</span>
             <span class="skils-design btn btn-warning">SAP HYBRIS</span>
             <span class="skils-design btn btn-warning">Spring Core</span>
             <span class="skils-design btn btn-warning">Spring Boot</span>
             <span class="skils-design btn btn-warning">Spring MVC</span>
             <span class="skils-design btn btn-warning">Spring Security</span>
             <span class="skils-design btn btn-warning">python</span>
             <span class="skils-design btn btn-warning">html</span>
             <span class="skils-design btn btn-warning">css</span>
             <span class="skils-design btn btn-warning">jquery</span>
             <span class="skils-design btn btn-warning">javaScript</span>
             <span class="skils-design btn btn-warning">React js</span>
             <span class="skils-design btn btn-warning">Angular</span>
             <span class="skils-design btn btn-warning">MySQL</span>
             <span class="skils-design btn btn-warning">SQL SERVER</span>
             <span class="skils-design btn btn-warning">Mongo DB</span>
             <span class="skils-design btn btn-warning">Oracle Dtabase</span>
           </div>
        </div>
    </div>
</div>
